@font-face {
  font-family: OpenSans;
  src: url('../fonts/OpenSans-Regular_0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: OpenSansLight;
  src: url('../fonts/OpenSans-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: OpenSansSemiBold;
  src: url('../fonts/OpenSans-Semibold_1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Lato;
  src: url('../fonts/Lato-Regular_0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: LatoLight;
  src: url('../fonts/Lato-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.page{
  font-family: 'OpenSansLight', 'Helvetica Neue', 'Helvetica' !important;
}

.text-input{
  background: #fff;
  border: 1px solid #7bcf33;
  border-radius: 2px;
  padding: 20px 15px;
  width: 100%;
  margin-bottom: 10px;
}

.active{
  color: #7BCF33;
}

.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}

.card-title{
  font-size: 30px;
  color:#acb24b;
}

.card-details{
  font-size: 12px;
}

.card-label{
  padding-top: 13px;
}

.tabbar__icon{
  font-size: 32px;
}

.text-left{
  text-align: left;
}

.list-header{
  background-color:#cccccc4f;
  font-weight: bold;
}

.order-label{

}

.order-data{
  text-transform:uppercase;
  font-weight: bold;
}

.order-status{
  color: white;
  padding: 2px;
  border-radius: 3px;
}

.pending-status{
  background-color: #d3d613;
}

.delivered-status{
  background-color: #7BCF33;
}


.peso .tabbar__label{
  font-size: 30px;
}