/* Custom Theme for Onsen UI 2.10.4 */


:root {
  /* variables for iOS components */
  --background-color: #F2FAEB;
  --text-color: rgba(36,69,7,1);
  --sub-text-color: #999999;
  --highlight-color: #7BCF33;
  --second-highlight-color: #7BCF33;
  --border-color: #ccc;
  --button-background-color: #7BCF33;
  --button-cta-background-color: #7BCF33;
  --toolbar-background-color: #FCFEFF;
  --toolbar-button-color: var(--highlight-color);
  --toolbar-text-color: #444444;
  --toolbar-border-color: #b2b2b2;
  --button-bar-color: #7BCF33;
  --button-bar-active-text-color: rgba(255,255,255,1);
  --button-bar-active-background-color: #7BCF33;
  --button-light-color: rgba(34,34,34,1);
  --segment-color: var(--highlight-color);
  --segment-active-text-color: #fff;
  --segment-active-background-color: color(var(--segment-color) tint(70%));
  --list-background-color: #FCFEFF;
  --list-header-background-color: #FCFEFF;
  --list-tap-active-background-color: #d9d9d9;
  --list-item-chevron-color: #c7c7cc;
  --progress-bar-color: rgba(81,139,32,1);
  --progress-bar-secondary-color: #7BCF33;
  --progress-bar-background-color: transparent;
  --progress-circle-primary-color: #518B20;
  --progress-circle-secondary-color: #7BCF33;
  --progress-circle-background-color: transparent;
  --tabbar-background-color: #fafafa;
  --tabbar-text-color: rgba(198,206,209,1);
  --tabbar-highlight-text-color: var(--highlight-color);
  --tabbar-border-color: #ccc;
  --switch-highlight-color: #7BCF33;
  --switch-border-color: #e5e5e5;
  --switch-background-color: white;
  --range-track-background-color: #a4aab3;
  --range-track-background-color-active: var(--highlight-color);
  --range-thumb-background-color: #fff;
  --modal-background-color: rgba(68,68,68,0.91);
  --modal-text-color: #fff;
  --alert-dialog-background-color: rgba(252,254,255,1);
  --alert-dialog-text-color: #244507;
  --alert-dialog-button-color: #7BCF33;
  --alert-dialog-separator-color: #ddd;
  --dialog-background-color: #FCFEFF;
  --dialog-text-color: var(--text-color);
  --popover-background-color: #FCFEFF;
  --popover-text-color: #444444;
  --action-sheet-title-color: #8f8e94;
  --action-sheet-button-separator-color: rgba(0, 0, 0, 0.1);
  --action-sheet-button-color: #7BCF33;
  --action-sheet-button-destructive-color: rgba(195,26,26,1);
  --action-sheet-button-background-color: rgba(255, 255, 255, 0.9);
  --action-sheet-button-active-background-color: #e9e9e9;
  --action-sheet-cancel-button-background-color: #fff;
  --notification-background-color: #F22A2A;
  --notification-color: white;
  --search-input-background-color: #FCFEFF;
  --fab-text-color: #FFFFFF;
  --fab-background-color: var(--highlight-color);
  --fab-active-background-color: rgba(123,207,51,0.7);
  --card-background-color: #FCFEFF;
  --card-text-color: #444444;
  --toast-background-color: rgba(15,34,40,0.85);
  --toast-text-color: white;
  --toast-button-text-color: #7BCF33;
  --select-input-color: var(--text-color);
  --select-input-border-color: var(--border-color);

  /* variables for Material Design components */
  --material-background-color: rgba(242,250,235,1);
  --material-text-color: #244507;
  --material-notification-background-color: #F22A2A;
  --material-notification-color: white;
  --material-switch-active-thumb-color: #7BCF33;
  --material-switch-active-background-color: color(#37474f a(50%));
  --material-switch-inactive-thumb-color: #f1f1f1;
  --material-switch-inactive-background-color: rgba(182,182,182,1);
  --material-range-track-color: #bdbdbd;
  --material-range-thumb-color: #31313a;
  --material-range-disabled-thumb-color: #b0b0b0;
  --material-range-disabled-thumb-border-color: #eeeeee;
  --material-range-zero-thumb-color: #f2f2f2;
  --material-toolbar-background-color: #FCFEFF;
  --material-toolbar-text-color: #444444;
  --material-toolbar-button-color: #7BCF33;
  --material-segment-background-color: #D7F1C2;
  --material-segment-active-background-color: #7BCF33;
  --material-segment-text-color: #7BCF33;
  --material-segment-active-text-color: #FFFFFF;
  --material-button-background-color: #7BCF33;
  --material-button-text-color: #ffffff;
  --material-button-disabled-background-color: color(#4f4f4f a(26%));
  --material-button-disabled-color: color(black a(26%));
  --material-flat-button-active-background-color: color(#999 a(20%));
  --material-list-background-color: #FCFEFF;
  --material-list-item-separator-color: #eee;
  --material-list-header-text-color: #244507;
  --material-checkbox-active-color: #37474f;
  --material-checkbox-inactive-color: #717171;
  --material-checkbox-checkmark-color: #ffffff;
  --material-radio-button-active-color: #444444;
  --material-radio-button-inactive-color: #717171;
  --material-radio-button-disabled-color: #afafaf;
  --material-text-input-text-color: #212121;
  --material-text-input-active-color: #7BCF33;
  --material-text-input-inactive-color: #afafaf;
  --material-search-background-color: #FCFEFF;
  --material-dialog-background-color: #FCFEFF;
  --material-dialog-text-color: var(--material-text-color);
  --material-alert-dialog-background-color: #FCFEFF;
  --material-alert-dialog-title-color: #244507;
  --material-alert-dialog-content-color: rgba(49, 49, 58, 0.85);
  --material-alert-dialog-button-color: #37474f;
  --material-progress-bar-primary-color: #518B20;
  --material-progress-bar-secondary-color: #7BCF33;
  --material-progress-bar-background-color: transparent;
  --material-progress-circle-primary-color: #518B20;
  --material-progress-circle-secondary-color: #7BCF33;
  --material-progress-circle-background-color: transparent;
  --material-tabbar-background-color: #ffffff;
  --material-tabbar-text-color: #C6CED1;
  --material-tabbar-highlight-text-color: #7BCF33;
  --material-tabbar-highlight-color: rgba(49, 49, 58, 0.1);
  --material-fab-text-color: #FFFFFF;
  --material-fab-background-color: #7BCF33;
  --material-fab-active-background-color: rgba(123,207,51,0.7);
  --material-card-background-color: #FCFEFF;
  --material-card-text-color: #444444;
  --material-toast-background-color: rgba(15,34,40,0.85);
  --material-toast-text-color: white;
  --material-toast-button-text-color: #7BCF33;
  --material-select-input-color: var(--material-text-color);
  --material-select-input-active-color: rgba(0, 0, 0, 0.15);
  --material-select-input-inactive-color: rgba(0, 0, 0, 0.81);
  --material-select-border-color: color(black a(12%));
  --material-popover-background-color: #FCFEFF;
  --material-popover-text-color: #444444;
  --material-action-sheet-text-color: #7BCF33;

  /* others */
  --tap-highlight-color: transparent;
}
