<!DOCTYPE html>
<html lang="en" ng-app="app" ng-csp>
<head>
  <title>binhi.app</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,user-scalable=no,maximum-scale=1,minimum-scale=1">

  <!-- JS dependencies (order matters!) -->
  <script src="lib/angular/angular.js"></script>
  <script src="js/onsenui.min.js"></script>
  <script src="js/angular-onsenui.js"></script>
  <script src="scripts/jquery.min.js"></script>

  <script src="cordova.js"></script>


  <link rel="stylesheet" href="css/onsenui.css" />
  <link rel="stylesheet" href="css/onsen-css-components.css" />
  <link rel="stylesheet" href="css/theme.css" />
  <link rel="stylesheet" href="css/ionicons/css/ionicons.min.css">
  <link rel="stylesheet" href="css/font_awesome/css/font-awesome.css">
  <link rel="stylesheet" href="css/custom.css" />

  <script>
    ons.disableAutoStyling();
    var url_root = '';
    var is_app_mobile = document.URL.indexOf( 'http://' ) === -1 && document.URL.indexOf( 'https://' ) === -1;
    if ( is_app_mobile ) {
        // mobile application
        var url_root = get_server_url();
        // var url_root = 'http://stagingapi022016.scaryfrogs.com';
    } else {
        // Web page
        var url_root = 'http://localhost/scary-frogs-api';
    }

    var default_page = 'consumer';
  </script>

</head>
<body id="app-body" ng-controller="AppController">
  <script>
    var module = angular.module('app', ['onsen']);
  </script>

<ons-page>

  <ons-splitter>
    <ons-splitter-side id="myMenu" var="mySplitter" side="left" width="90%" collapse>
      <ons-page>
        <!-- <ons-toolbar></ons-toolbar> -->
        <!-- <ons-row id="sliding-menu-container">
          <ons-row><img style="margin-bottom: 10px;height: 100px;" class="img-circle" src="img/richchelle.jpg"></ons-row>
          <ons-row style="font-weight: bold; font-size: 1.2em">Rich Chelle Bustamante</ons-row>
          <ons-row style="font-size: 0.8em">richchelle@gmail.com</ons-row>
        </ons-row> -->
        <ons-list-item class="slider-label">
          <ons-list-item class="slider-label">ACCOUNT</ons-list-item>
          
          <!-- <ons-list-item ng-click="set_server_url()" tappable>
            Server URL
          </ons-list-item> -->

          <ons-list-item ng-click="test2()" tappable>
            Edit Profile
          </ons-list-item>
          <ons-list-item onclick="fn.pushPage('activities.html')" tappable>
            Change Password
          </ons-list-item>
          <ons-list-item ng-click="dropoff_home_page()" tappable>
            Switch to Retailing
          </ons-list-item>
          <ons-list-item ng-click="consumers_view()" tappable>
            Switch to Consumer
          </ons-list-item>
          <ons-list-item ng-click="coop_page()" tappable>
            Switch to Cooperative
          </ons-list-item>
          <ons-list-item ng-click="logout()" tappable>
            Logout
          </ons-list-item>

          <ons-list-item class="slider-label" style="padding-top:20px;font-size: 22px;font-weight: normal;">binhi.app</ons-list-item>
          <ons-list-item onclick="fn.pushPage('edit_profile.html')" tappable>
            Help & Support
          </ons-list-item>
          <ons-list-item onclick="fn.pushPage('change_password.html')" tappable>
            Terms of Service
          </ons-list-item>
          <ons-list-item onclick="fn.pushPage('logout.html')" tappable>
            Update Version
          </ons-list-item>

          <ons-list-item style="color:#BDBDBD; margin-top: 60px">binhi.app v0.0.1</ons-list-item>
        </ons-list>
      </ons-page>
    </ons-splitter-side>
    <ons-splitter-content id="content" page="loginPage.html"></ons-splitter-content>
  </ons-splitter>

</ons-page>


<ons-template id="loginPage.html">
  <ons-page id="loginPage">
    <ons-navigator id="myNavigator" page="login.html" animation="slide"></ons-navigator>
  </ons-page>
</ons-template>


<!-- Login Page -->
<ons-template id="login.html">
  <ons-page>


    <ons-row style="width:90%;margin:0 auto;">

      <ons-col style="text-align:center;" width="100%">
        <img style="height: 190px;
  opacity: 0.9;
  margin: auto;
  display: block;
  margin-top: 18px;
  margin-bottom: 20px;" src="img/binhi.png">
      </ons-col>

      <ons-col>
        <input type="text" class="text-input" placeholder="Email" value="test@gmail.com">
      </ons-col>
      <ons-col width="100%">
        <input type="password" class="text-input" placeholder="Password" value="123123123">
      </ons-col>



      <ons-col width="100%">
        <button ng-click="login()" class="button--large--cta">Sign In</button>
      </ons-col>

      <ons-col width="100%" style="text-align: center;margin:11px 0;">
        <span style="font-size:14px;">or</span>
      </ons-col>        

      <ons-col width="100%"">
        <button ng-click="login()" class="button--large--cta" style="background: #4267b2;">Sign in with Facebook</button>
      </ons-col>

      <ons-col width="100%">
        <span style="font-size:14px;">Don't have an account? <a ng-click="signup()" style="font-weight: bold;">Sign Up</a></span>
      </ons-col>
    </ons-row>
    
  </ons-page>
</ons-template>

<ons-template id="homePage.html">
	<ons-page id="home-page">
		<ons-tabbar var="homeTabbar" hide-tabs="false" animation="slide">
			<ons-tab page="home.html" label="" icon="ion-android-person" ng-click="profile_page()"></ons-tab>
			<ons-tab page="home.html" label="" icon="ion-android-globe" badge="11"></ons-tab>
		
			<ons-tab page="home.html" active="true" label="" icon="ion-android-home" modifier="home"></ons-tab>
		
			<ons-tab page="home.html" label="" icon="ion-ios-list"></ons-tab>
			<ons-tab page="home.html" label="" icon="ion-ios-people" modifier="donors"></ons-tab>
		</ons-tabbar>
	</ons-page>
</ons-template>

<ons-template id="home.html">
	<ons-page>
		<ons-toolbar>
			<div class="left">
				<ons-toolbar-button onclick="fn.openMenu()">
					<ons-icon icon="ion-navicon" size=""></ons-icon>
				</ons-toolbar-button>
			</div>
			<div class="center">
				binhi
				<!-- <img style="height:30px;margin-top: 8px;" src="img/logo4-white.png"> -->
			</div>
		</ons-toolbar>
	</ons-page>
</ons-template>


<ons-template id="coopPage.html">
	<ons-page id="coop-page">
		<ons-tabbar var="coopTabbar" hide-tabs="false" animation="slide">
			<ons-tab page="coop_loans.html" class="peso" label="&#8369;"></ons-tab>	
			<ons-tab ng-click="pagedata.order_tab = 'pending';" page="coop_orders.html" label="" icon="ion-ios-list"></ons-tab>
		
			<ons-tab page="coop.html" active="true" label="" icon="ion-android-home" modifier="home"></ons-tab>

			<ons-tab page="coop_inventory.html" label="" icon="ion-social-dropbox" modifier="donors"></ons-tab>
			<ons-tab page="coop_farmers.html" label="" icon="ion-ios-people"></ons-tab>			

		</ons-tabbar>
	</ons-page>
</ons-template>

<ons-template id="coop_investors.html">
	<ons-page>
		<ons-toolbar>
			<div class="left">
				<ons-toolbar-button onclick="fn.popPage()">
					<ons-icon icon="ion-chevron-left" size=""></ons-icon>
				</ons-toolbar-button>
			</div>
			<div class="center">
				Investors
			</div>
			<div class="right">
				
			</div>
		</ons-toolbar>
		<ons-list>
			<ons-list-header class="list-header">
				<ons-row>
					<ons-col>
						Investor
					</ons-col>
					<ons-col width="50%">
						Amount
					</ons-col>
				</ons-row>
			</ons-list-header>
		    <ons-list-item ng-repeat="investor in pagedata.coop_investors">
		    	<ons-col class="text-left">
					{{investor.name}}
				</ons-col>
				<ons-col class="text-center" width="50%">
					&#8369;{{investor.amount}}
				</ons-col>
		    </ons-list-item>
		</ons-list>
</ons-template>

<ons-template id="coop_loans.html">
	<ons-page>
		<ons-toolbar>
			<!-- <div class="left">
				<ons-toolbar-button onclick="fn.popPage()">
					<ons-icon icon="ion-chevron-left" size=""></ons-icon>
				</ons-toolbar-button>
			</div> -->
			<div class="center">
				Loans
			</div>
			<div class="right">
				<ons-toolbar-button>
					<ons-icon icon="ion-plus-round"></ons-icon>
				</ons-toolbar-button>
			</div>
		</ons-toolbar>
		<ons-card ng-click="coop_inventors_page()">
			<ons-row>
				<ons-col width="60%">
					<div class="title card-label">
				      Total Funds:
				    </div>
				</ons-col>
				<ons-col>
					<div class="text-center title card-title">
				      &#8369;30000
				    </div>
				     <div class="text-center content card-details">
				    	of &#8369;90000
				    </div>
				</ons-col>
			</ons-row>
		</ons-card>
		<ons-list>
			<ons-list-header class="list-header">
				<ons-row>
					<ons-col>
						Name
					</ons-col>
					<ons-col width="50%">
						Loan Amount
					</ons-col>
				</ons-row>
			</ons-list-header>
		    <ons-list-item ng-if="farmer.loan != 0" ng-repeat="farmer in pagedata.coop_farmers">
		    	<ons-col class="text-left">
					{{farmer.name}}
				</ons-col>
				<ons-col class="text-center" width="50%">
					&#8369;{{farmer.loan}}
				</ons-col>
		    </ons-list-item>
		</ons-list>
	
	</ons-page>
</ons-template>

<ons-template id="coop_farmers.html">
	<ons-page>
		<ons-toolbar>
			<!-- <div class="left">
				<ons-toolbar-button onclick="fn.popPage()">
					<ons-icon icon="ion-chevron-left" size=""></ons-icon>
				</ons-toolbar-button>
			</div> -->
			<div class="center">
				Farmers
			</div>
			<div class="right">
				<ons-toolbar-button>
					<ons-icon icon="ion-plus-round"></ons-icon>
				</ons-toolbar-button>
			</div>
		</ons-toolbar>
		<ons-list>
			<ons-list-header class="list-header">
				<ons-row>
					<ons-col>
						Name
					</ons-col>
					<ons-col width="50%">
						Annual Production
					</ons-col>
				</ons-row>
			</ons-list-header>
		    <ons-list-item ng-repeat="farmer in pagedata.coop_farmers">
		    	<ons-col class="text-left">
					{{farmer.name}}
				</ons-col>
				<ons-col class="text-center" width="25%">
					{{farmer.annual_production}} sacks
				</ons-col>
		    </ons-list-item>
		</ons-list>
	
	</ons-page>
</ons-template>


<ons-template id="coop.html">
	<ons-page>
		<ons-toolbar>
			<div class="left">
				<ons-toolbar-button onclick="fn.openMenu()">
					<ons-icon icon="ion-navicon" size=""></ons-icon>
				</ons-toolbar-button>
			</div>
			<div class="center">
				Passi City Coop.
				<!-- <img style="height:30px;margin-top: 8px;" src="img/logo4-white.png"> -->
			</div>
			<div class="right">
				<ons-toolbar-button>
					<ons-icon icon="ion-android-globe" badge="11"></ons-icon>
				</ons-toolbar-button>
			</div>
		</ons-toolbar>
		<ons-card ng-click="coop_inventory_page()" >
			<ons-row>
				<ons-col width="60%">
					<div class="title card-label">
				      AVAILABLE STOCKS
				    </div>
				</ons-col>
				<ons-col>
					<div class="text-center title card-title">
				      2150
				    </div>
				    <div class="text-center content card-details">
				    	sacks
				    </div>
				</ons-col>
			</ons-row>
		</ons-card>
		<ons-card ng-click="coop_orders_page()">
			<ons-row>
		    	<ons-col width="60%">
					<div class="title card-label">
				      PENDING ORDERS
				    </div>
				</ons-col>
				<ons-col>
					<div class="text-center title card-title">
				      11
				    </div>
				    <div class="text-center content card-details">
				    	orders
				    </div>
				</ons-col>
			</ons-row>
		</ons-card>
		<ons-card ng-click="coop_loans_page()">
			<ons-row>
				<ons-col width="60%">
					<div class="title card-label">
				      LOANS
				    </div>
				</ons-col>
				<ons-col>
					<div class="text-center title card-title">
				      3 of 4
				    </div>
				    <div class="text-center content card-details">
				    	loans fulfilled
				    </div>
				</ons-col>
			</ons-row>
		</ons-card>
		<ons-card ng-click="coop_inventory_page()">
			<ons-row>
				<ons-col width="60%">
					<div class="title card-label">
				      PRICE
				    </div>
				</ons-col>
				<ons-col>
					<div class="text-center title card-title" style="font-size: 20px;">
				      &#8369;30 - &#8369;P40
				    </div>
				    <div class="text-center content card-details">
				    	per kilo
				    </div>
				</ons-col>
			</ons-row>
		</ons-card>
	</ons-page>
</ons-template>

<ons-template id="coop_inventory.html">
	<ons-page>
		<ons-toolbar>
			<!-- <div class="left">
				<ons-toolbar-button ng-click="coop_page()">
					<ons-icon icon="ion-chevron-left" size=""></ons-icon>
				</ons-toolbar-button>
			</div> -->
			<div class="center">
				Inventory
			</div>
			<div class="right">
				<ons-toolbar-button>
					<ons-icon icon="ion-plus-round"></ons-icon>
				</ons-toolbar-button>
			</div>
		</ons-toolbar>
		<ons-list>
			<ons-list-header class="list-header">
				<ons-row>
					<ons-col>
						Variety
					</ons-col>
					<ons-col width="25%">
						Available
					</ons-col>
					<ons-col  width="25%">
						Price
					</ons-col>
				</ons-row>
			</ons-list-header>
		    <ons-list-item>
		    	<ons-col class="text-left">
					Jasmine Rice
				</ons-col>
				<ons-col class="text-center" width="25%">
					1378
				</ons-col>
				<ons-col class="text-left"width="25%">
					&#8369;1500
				</ons-col>
		    </ons-list-item>
		    <ons-list-item>
		    	<ons-col class="text-left">
					Sinandomeng Rice
				</ons-col>
				<ons-col class="text-center" width="25%">
					772
				</ons-col>
				<ons-col class="text-left" width="25%">
					&#8369;2000
				</ons-col>
		    </ons-list-item>
		</ons-list>
	
	</ons-page>
</ons-template>

<ons-template id="coop_orders.html">
	<ons-page>
		<ons-toolbar>
			<!-- <div class="left">
				<ons-toolbar-button ng-click="coop_page()">
					<ons-icon icon="ion-chevron-left" size=""></ons-icon>
				</ons-toolbar-button>
			</div> -->
			<div class="center">
				Orders
				<!-- <img style="height:30px;margin-top: 8px;" src="img/logo4-white.png"> -->
			</div>
		</ons-toolbar>
		<br/>
		<div class="text-center">
	    	<div class="segment" style="width: 90%; margin: 0 auto;">
			  	<div ng-click="set_order_tab('pending')" class="segment__item">
			    	<input type="radio" class="segment__input" name="order-segment-a" checked>
			    	<div class="segment__button">Pending</div>
			  	</div>
			  	<div ng-click="set_order_tab('delivered')" class="segment__item">
			    	<input type="radio" class="segment__input" name="order-segment-a">
			    	<div class="segment__button">Delivered</div>
			  	</div>
  				<div ng-click="set_order_tab('all')" class="segment__item">
  				    <input type="radio" class="segment__input" name="order-segment-a">
  				    <div class="segment__button">All</div>
  				</div>
  			</div>
	    </div>

	    <div ng-if="pagedata.order_tab == 'pending'">
			<ons-card ng-click="view_coop_order(order)" ng-if="order.status =='pending'"  ng-repeat="order in pagedata.coop_orders"> 
				<div class="title">
			      Order ID: {{order.id}}
			    </div>
			    <div class="content">
			    	<span class="order-label">Drop-off Point</span>: <span class="order-data">{{order.dropoff_point}}</span> <br/>
			    	<span class="order-label">No. of sacks</span>: <span class="order-data">{{order.total_sacks}}</span> <br/>
			    	<span class="order-label">Total Payment</span>: <span class="order-data">&#8369;{{order.total_price}}</span> <br/>
			    	<span class="order-label">Status</span>: <span class="order-data order-status pending-status"> {{order.status}} </span> <br/>
			    </div>
			</ons-card>
	    </div>

	    <div ng-if="pagedata.order_tab == 'delivered'">
			<ons-card  ng-click="view_coop_order(order)" ng-if="order.status == 'delivered'"  ng-repeat="order in pagedata.coop_orders"> 
				<div class="title">
			      Order ID: {{order.id}}
			    </div>
			    <div class="content">
			    	<span class="order-label">Drop-off Point</span>: <span class="order-data">{{order.dropoff_point}}</span> <br/>
			    	<span class="order-label">No. of sacks</span>: <span class="order-data">{{order.total_sacks}}</span> <br/>
			    	<span class="order-label">Total Payment</span>: <span class="order-data">&#8369;{{order.total_price}}</span> <br/>
			    	<span class="order-label">Status</span>: <span class="order-data order-status delivered-status"> {{order.status}} </span> <br/>
			    </div>
			</ons-card>
	    </div>

	    <div ng-if="pagedata.order_tab == 'all'">
			<ons-card  ng-click="view_coop_order(order)" ng-repeat="order in pagedata.coop_orders"> 
				<div class="title">
			      Order ID: {{order.id}}
			    </div>
			    <div class="content">
			    	<span class="order-label">Drop-off Point</span>: <span class="order-data">{{order.dropoff_point}}</span> <br/>
			    	<span class="order-label">No. of sacks</span>: <span class="order-data">{{order.total_sacks}}</span> <br/>
			    	<span class="order-label">Total Payment</span>: <span class="order-data">&#8369;{{order.total_price}}</span> <br/>
			    	<span class="order-label">Status</span>: <span ng-class="{'delivered-status' : order.status=='delivered', 'pending-status' : order.status=='pending'}" class="order-data order-status"> {{order.status}} </span> <br/>
			    </div>
			</ons-card>
	    </div>

	</ons-page>
</ons-template>

<ons-template id="view_coop_order.html">
	<ons-page>
		<ons-toolbar>
			<div class="left">
				<ons-toolbar-button onclick="fn.popPage()">
					<ons-icon icon="ion-chevron-left" size=""></ons-icon>
				</ons-toolbar-button>
			</div>
			<div class="center">
				View Order
				<!-- <img style="height:30px;margin-top: 8px;" src="img/logo4-white.png"> -->
			</div>
		</ons-toolbar>
		<br/>
		<ons-card> 
			<div class="title">
		      Order ID: {{pagedata.coop_order.id}}
		    </div>
		    <div class="content">
		    	<img style="height: 100%;width:100%;
			  opacity: 0.9;
			  margin: auto;
			 " src="img/sample-map.jpg">
		    	<span class="order-label">Drop-off Point</span>: <span class="order-data">{{pagedata.coop_order.dropoff_point}}</span> <br/>
		    	<span class="order-label">No. of sacks</span>: <span class="order-data">{{pagedata.coop_order.total_sacks}}</span> <br/>

		    	<span class="order-label">Details</span>: 
		    	<span>
					<ons-list>
						<ons-list-header class="list-header">
							<ons-row>
								<ons-col>
									Variety
								</ons-col>
								<ons-col width="25%">
									#
								</ons-col>
								<ons-col  width="25%">
									Unit Price
								</ons-col>
							</ons-row>
						</ons-list-header>
					    <ons-list-item ng-repeat="order_details in pagedata.coop_order.order_data">
					    	<ons-col class="text-left">
								{{order_details.rice_variety}}
							</ons-col>
							<ons-col width="25%">
								{{order_details.no_of_sacks}}
							</ons-col>
							<ons-col class="text-left"width="25%">
								&#8369;{{order_details.unit_price}}
							</ons-col>
					    </ons-list-item>
					</ons-list>
		    	</span>
		    	<span class="order-label">Total Payment</span>: <span class="order-data">&#8369;{{pagedata.coop_order.total_price}}</span> <br/>
		    	<br/>

		    	<span class="order-label">Status</span>:
		    		<span  ng-class="{'delivered-status' : pagedata.coop_order.status=='delivered', 'pending-status' : pagedata.coop_order.status=='pending'}" class="order-data order-status"> {{pagedata.coop_order.status}}
		    	</span> <br/>
		    </div>
		</ons-card>
  

	  

	</ons-page>
</ons-template>


<ons-template id="dropoffHomePage.html">
  <ons-page id="home-page">
    <ons-tabbar var="dropoffTabbar" hide-tabs="false" animation="slide">
      <!-- <ons-tab page="home.html" label="" icon="ion-android-person" ng-click="profile_page()"></ons-tab> -->
      <!-- <ons-tab page="home.html" label="" icon="ion-android-globe" badge="11"></ons-tab> -->
    
      <ons-tab page="dropoff_coops.html" label="" icon="ion-ios-people"></ons-tab>
      <ons-tab page="dropoff_home.html" active="true" label="" ng-click="scholar_home_page()" icon="ion-ios-list-outline" modifier="home"></ons-tab>
      <!-- <ons-tab page="home.html" label="" icon="ion-ios-people"></ons-tab> -->
    
      <!-- <ons-tab page="home.html" label="" icon="ion-ios-list"></ons-tab> -->
      <!-- <ons-tab page="home.html" label="" icon="ion-ios-people" modifier="donors"></ons-tab> -->
    </ons-tabbar>
  </ons-page>
</ons-template>

<ons-template id="dropoff_home.html">
  <ons-page>

    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button onclick="fn.openMenu()">
          <ons-icon icon="ion-navicon" size=""></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center">
        Ena's Store
      </div>
      <!-- <div class="right">
        <ons-toolbar-button>
          <ons-icon icon="ion-ios-plus-outline" size=""></ons-icon>
        </ons-toolbar-button>
      </div> -->
    </ons-toolbar>

    <div class="card">
      <div class="card__content" onclick="fn.pushPage('dropoff_pending_orders.html')">
        <ons-row>
          <ons-col width="100%" class="center" style="color: #7BCF33;font-size: 21px;">Total Pending Orders</ons-col>
          <ons-col width="100%" class="center" style="font-size: 60px;color: #244507;">312<span style="font-size: 22px;"> sacks</span></ons-col>
          <ons-col width="100%" class="center" style="font-size: 17px;">Next Delivery: Monday Sep 17 2018</ons-col>
        </ons-row>
      </div>
    </div>

    <div class="card">
      <div class="card__content">
        <ons-row ng-click="retailing_order_requests()">
          <ons-col width="100%" class="center" style="color: #7BCF33;font-size: 21px;">Total Requests</ons-col>
          <ons-col width="100%" class="center" style="font-size: 60px;color: #244507;">85<span style="font-size: 22px;"> sacks</span></ons-col>
        </ons-row>
      </div>
    </div>

    <div class="card">
      <div class="card__content">
        <ons-row>
          <ons-col width="100%" class="center" style="color: #7BCF33;font-size: 21px;">For Delivery to Customers</ons-col>
          <ons-col width="100%" class="center" style="font-size: 60px;color: #244507;">98<span style="font-size: 22px;"> sacks</span></ons-col>
        </ons-row>
      </div>
    </div>

    <!-- <div class="card">
      <div class="card__content" style="font-size:18px;color: #d5d5d5;">
        <span class="active">All</span>&nbsp;&nbsp;<span>Pending</span>&nbsp;&nbsp;<span>Delivered</span>
      </div>
    </div>

    <div>
      <div ng-repeat="i in [0,1,2,3]"  class="card">
        <div class="card__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
      </div>
    </div> -->

  </ons-page>
</ons-template>


<ons-template id="dropoff_pending_orders.html">
  <ons-page>

    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button onclick="fn.popPage()">
          <ons-icon icon="ion-chevron-left" size=""></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center">
        Pending Orders
      </div>
      <!-- <div class="right">
        <ons-toolbar-button>
          <ons-icon icon="ion-ios-plus-outline" size=""></ons-icon>
        </ons-toolbar-button>
      </div> -->
    </ons-toolbar>

    <ons-card ng-repeat="order in pagedata.dropoff_orders"> 
      <div class="title">
        Order ID: {{order.id}}
      </div>
      <div class="content">
        <span class="order-label">Coop</span>: <span class="order-data">{{order.dropoff_point}}</span> <br/>
        <span class="order-label">No. of sacks</span>: <span class="order-data">{{order.total_sacks}}</span> <br/>
        <span class="order-label">Total Payment</span>: <span class="order-data">&#8369;{{order.total_price}}</span> <br/>
        <span class="order-label">Status</span>: <span class="order-data order-status pending-status"> {{order.status}} </span> <br/>
      </div>
    </ons-card>
  </ons-page>
</ons-template>

<ons-template id="consumerPage.html">
	<ons-page id="consumer-page">
		<ons-tabbar var="consumerTabbar" hide-tabs="false" animation="slide">
			<ons-tab page="consumer_orders.html" label="" icon="ion-ios-list" ng-click="consumer_orders()"></ons-tab>	
			<ons-tab page="consumer_loans.html" class="peso" label="&#8369;" ng-click="consumer_loans()"></ons-tab>	
			<ons-tab page="consumer.html" label="" icon="ion-home" modifier="home"  active="true" ng-click="consumer_view()"></ons-tab>			
			
			<ons-tab page="consumer_notifs.html" label="" icon="ion-android-globe" badge="11" ng-click="consumer_notifs()"></ons-tab>
			<ons-tab page="consumer_coops.html" label="" icon="ion-ios-people" ng-click="consumer_coops()"></ons-tab>		
		</ons-tabbar>
	</ons-page>
</ons-template>

<ons-template id="consumer.html">
	<ons-page>		
		<ons-toolbar>
			<div class="left">
				<ons-toolbar-button onclick="fn.openMenu()">
					<ons-icon icon="ion-navicon" size=""></ons-icon>
				</ons-toolbar-button>
			</div>
			<div class="center">
				Hi Consumer Anjo
				<!-- <img style="height:30px;margin-top: 8px;" src="img/logo4-white.png"> -->
			</div>
		</ons-toolbar>
		<div style="height: 180px; padding: 1px 0 0 0;" id="map">
			<div style="position: absolute;right:0;top:10px;z-index:100;">
				<ons-button ng-click="consumer_order_here()">ORDER HERE!</ons-button>
			</div>
			<img style="height: 100%;width:100%;
			  opacity: 0.9;
			  margin: auto;
			 " src="img/sample-map.jpg">
		</div>
		<div>
			<div style="height: auto; padding: 1px 0 0 0;">
			  <div class="card" ng-repeat="store in stores" ng-click="consumer_order_here()">
			    <div class="card__content">
			    	<ons-row>
			    		
			    		<ons-col>
                <ons-col width="100%" style="font-size: 22px;">
                  {{store.name}}
                </ons-col>
                <ons-col style="font-size: 16px;color: #8e8e8e;">
  			    			{{store.distance}}
                </ons-col>
			    		</ons-col>
			    		<ons-col width="150px" class="text-right" style="font-size: 18px;">
			    			PHP <span style="font-weight: bold;font-size: 40px;color: #244507;">{{store.price_range}}</span>/kg
			    		</ons-col>
			    	</ons-row>
			    </div>
			  </div>
			</div>
		</div>
	</ons-page>
</ons-template>
<ons-template id="consumer_notifs.html">
	<ons-page>		
		<ons-toolbar>
			<div class="left">
				<ons-toolbar-button onclick="fn.openMenu()">
					<ons-icon icon="ion-navicon" size=""></ons-icon>
				</ons-toolbar-button>
			</div>
			<div class="center">
				Notifs
				<!-- <img style="height:30px;margin-top: 8px;" src="img/logo4-white.png"> -->
			</div>
		</ons-toolbar>
		
		<div style="height: auto; padding: 1px 0 0 0;">
		  <div class="card" ng-repeat="store in stores">
		    <div class="card__content">
		    	<ons-row>
		    		<ons-col width="100%" style="font-size: 20px;">
		    			Your order has been delivered to your chosen dropoff point.
		    		</ons-col>
		    	</ons-row>
		    </div>
		  </div>
		</div>
		
	</ons-page>
</ons-template>

<ons-template id="consumer_loans.html">
	<ons-page>
		<ons-toolbar>
			<div class="center">
				Loans
			</div>
			<div class="right">
				
			</div>
		</ons-toolbar>
		<ons-card ng-click="consumer_coop_loans_page()" ng-repeat="coop in coops">
			<ons-row>
				<ons-col width="60%">
					<div class="title card-label" >
				      <span style="font-size: 18px;">{{coop.name}}</span>
				      <br />
				      {{coop.production_per_year}} sacks per year
				    </div>
				</ons-col>
				<ons-col>
					 <div class="text-center content card-details">
				    	needed funds
				    </div>
					<div class="text-center title card-title">
				     {{coop.needed_funds}}
				    </div>
				  
				    <div class="text-center content card-details">
				    	 <ons-button ng-click="invest_amount()">Invest</ons-button>		
				    </div>
				   		   
				</ons-col>
			</ons-row>
		</ons-card>
</ons-template>
<ons-template id="consumer_coops.html">
	<ons-page>		
		<ons-toolbar>
			<div class="left">
				<ons-toolbar-button onclick="fn.openMenu()">
					<ons-icon icon="ion-navicon" size=""></ons-icon>
				</ons-toolbar-button>
			</div>
			<div class="center">
				Coops
				<!-- <img style="height:30px;margin-top: 8px;" src="img/logo4-white.png"> -->
			</div>
		</ons-toolbar>
		<div style="height: 180px; padding: 1px 0 0 0;" id="map">
			<img style="height: 100%;width:100%;
			  opacity: 0.9;
			  margin: auto;
			 " src="img/sample-map.jpg">
		</div>
		<div>
			<div style="height: auto; padding: 1px 0 0 0;">
			  <div class="card" ng-repeat="coop in coops">
			    <div class="card__content">
			    	<ons-row>		    	
		                <ons-col width="100%" style="font-size: 22px;">
		                	{{coop.name}}
		                </ons-col>
		                <ons-col style="font-size: 16px;color: #8e8e8e;">
		  			    	{{coop.distance}}
		                </ons-col>			    		
			    		<ons-col width="150px" class="text-right" style="font-size: 18px;">
			    			PHP <span style="font-weight: bold;font-size: 40px;color: #244507;">{{coop.price_range}}</span>/kg
			    		</ons-col>
			    	</ons-row>
			    </div>
			  </div>
			</div>
		</div>
	</ons-page>
</ons-template>
<ons-template id="consumer_order_here.html">
	<ons-page>		
		<ons-toolbar>
			<div class="left">
				<ons-toolbar-button onclick="fn.popPage()">
					<ons-icon icon="ion-chevron-left" size=""></ons-icon>
				</ons-toolbar-button>
			</div>
			<div class="center">
				Ena Store
				<!-- <img style="height:30px;margin-top: 8px;" src="img/logo4-white.png"> -->
			</div>
		</ons-toolbar>

		<div style="height: auto; padding: 1px 0 0 0;">
		  <div class="card">
		    <div class="card__content">
		    	
		    	<p class="center" style="font-size: 18px;font-weight: bold;">Order Here</p>
		    	
		    	<ons-row style="font-size: 18px !important;">
		    		<ons-col width="70%">
		    			<label for="varieties">Variety:</label>
		    			<select id="varieties" class="select-input" style="font-weight: bold;margin-left:10px;">
		    				<option selected="true">Sinandomeng</option>
		    				<option >Jasmin Rice</option>
		    				<option >NFA Rice</option>
		    				<option >Social Rice</option>
		    				<option >Bukbuk Rice</option>
		    			</select>
		    		</ons-col>
		    		<ons-col width="100%">
		    			<label for="price">Price per Sack:</label>
		    			<br>
		    			<span style="font-weight: bold;margin-left:10px;">PHP 1500</span>
		    		</ons-col>
		    		<ons-col width="100%">
		    			<label for="no_of_sacks">No. of Sacks:</label>
		    			<input type="text" class="text-input" placeholder="text" value="50" style="font-weight: bold;margin-left:10px;">
		    		</ons-col>
		    		<br />
		    		<ons-col width="100%">
		    			TOTAL: <span  style="font-weight: bold;">PHP {{1500*50}} </span>
		    		</ons-col>
		    		<ons-col width="70%">
		    			<ons-button ng-click="submit_order()">Submit</ons-button>
		    		</ons-col>
		    	</ons-row>
		    </div>
		  </div>
		</div>		
	</ons-page>
</ons-template>

<ons-template id="consumer_orders.html">
	<ons-page>
		<ons-toolbar>
			<div class="left">
				<ons-toolbar-button ng-click="consumers_view()">
					<ons-icon icon="ion-chevron-left" size=""></ons-icon>
				</ons-toolbar-button>
			</div>
			<div class="center">
				Orders
				<!-- <img style="height:30px;margin-top: 8px;" src="img/logo4-white.png"> -->
			</div>
		</ons-toolbar>
		<br/>
		<div class="center" style="margin-left: 15px;">
	    	<div class="segment" style="width: 280px; margin: 0 auto;">
			  	<div ng-click="set_order_tab('pending')" class="segment__item">
			    	<input type="radio" class="segment__input" name="order-segment-a" checked>
			    	<div class="segment__button">Pending</div>
			  	</div>
			  	<div ng-click="set_order_tab('delivered')" class="segment__item">
			    	<input type="radio" class="segment__input" name="order-segment-a">
			    	<div class="segment__button">Delivered</div>
			  	</div>
				<div ng-click="set_order_tab('all')" class="segment__item">
				    <input type="radio" class="segment__input" name="order-segment-a">
				    <div class="segment__button">All</div>
				</div>
			</div>
	    </div>
	    <div ng-if="pagedata.order_tab == 'pending'">
	    	<ons-card>
				<div class="title">
			      Order ID: 5169
			    </div>
			    <div class="content">
			    	<span class="order-label">Customer</span>: <span class="order-data">Angelo Fajardo</span> <br/>
			    	<span class="order-label">Rice Variety</span>:  <span class="order-data">Sinandomeng Rice</span> <br/>
			    	<span class="order-label">No. of sacks</span>: <span class="order-data">50</span> <br/>
			    	<span class="order-label">Price per sack</span>: <span class="order-data">&#8369;1500.00</span> <br/>
			    	<span class="order-label">Total Payment</span>: <span class="order-data">&#8369;7500.00</span> <br/>
			    	<span class="order-label">Status</span>: <span class="order-data order-status pending-status">  To be delivered </span> <br/>
			    </div>
			</ons-card>
			<ons-card>
				<div class="title">
			      Order ID: 8441
			    </div>
			    <div class="content">
			    	<span class="order-label">Customer</span>: <span class="order-data">Angelo Fajardo</span> <br/>
			    	<span class="order-label">Rice Variety</span>:  <span class="order-data">Sinandomeng Rice</span> <br/>
			    	<span class="order-label">No. of sacks</span>: <span class="order-data">1</span> <br/>
			    	<span class="order-label">Price per sack</span>: <span class="order-data">&#8369;1000.00</span> <br/>
			    	<span class="order-label">Total Payment</span>: <span class="order-data">&#8369;1000.00</span> <br/>
			    	<span class="order-label">Status</span>: <span class="order-data order-status pending-status">  To be delivered </span> <br/>
			    </div>
			</ons-card>
			<ons-card>
				<div class="title">
			      Order ID: 8111
			    </div>
			    <div class="content">
			    	<span class="order-label">Customer</span>: <span class="order-data">Donn Vill</span> <br/>
			    	<span class="order-label">Rice Variety</span>:  <span class="order-data">Brown Rice</span> <br/>
			    	<span class="order-label">No. of sacks</span>: <span class="order-data">4</span> <br/>
			    	<span class="order-label">Price per sack</span>: <span class="order-data">&#8369;2000.00</span> <br/>
			    	<span class="order-label">Total Payment</span>: <span class="order-data">&#8369;8000.00</span> <br/>
			    	<span class="order-label">Status</span>: <span class="order-data order-status pending-status">  To be delivered </span> <br/>
			    </div>
			</ons-card>
			<ons-card>
				<div class="title">
			      Order ID: 8981
			    </div>
			    <div class="content">
			    	<span class="order-label">Customer</span>: <span class="order-data">Brennan Terrer</span> <br/>
			    	<span class="order-label">Rice Variety</span>:  <span class="order-data">Black Rice</span> <br/>
			    	<span class="order-label">No. of sacks</span>: <span class="order-data">1</span> <br/>
			    	<span class="order-label">Price per sack</span>: <span class="order-data">&#8369;2000.00</span> <br/>
			    	<span class="order-label">Total Payment</span>: <span class="order-data">&#8369;2000.00</span> <br/>
			    	<span class="order-label">Status</span>: <span class="order-data order-status pending-status">  To be delivered </span> <br/>
			    </div>
			</ons-card>
	    </div>
		
		<div ng-if="pagedata.order_tab == 'delivered'">
			<ons-card>
				<div class="title">
			      Order ID: 5869
			    </div>
			    <div class="content">
			    	<span class="order-label">Customer</span>: <span class="order-data">Rich Chelle Bustamante</span> <br/>
			    	<span class="order-label">Rice Variety</span>:  <span class="order-data">Black Rice</span> <br/>
			    	<span class="order-label">No. of sacks</span>: <span class="order-data">3</span> <br/>
			    	<span class="order-label">Price per sack</span>: <span class="order-data">&#8369;2000.00</span> <br/>
			    	<span class="order-label">Total Payment</span>: <span class="order-data">&#8369;6000.00</span> <br/>
			    	<span class="order-label">Status</span>: <span class="order-data order-status delivered-status"> delivered </span> <br/>
			    </div>
			</ons-card>
			<ons-card>
				<div class="title">
			      Order ID: 5005
			    </div>
			    <div class="content">
			    	<span class="order-label">Customer</span>: <span class="order-data">Agustin Bustamante</span> <br/>
			    	<span class="order-label">Rice Variety</span>:  <span class="order-data">Black Rice</span> <br/>
			    	<span class="order-label">No. of sacks</span>: <span class="order-data">3</span> <br/>
			    	<span class="order-label">Price per sack</span>: <span class="order-data">&#8369;2000.00</span> <br/>
			    	<span class="order-label">Total Payment</span>: <span class="order-data">&#8369;6000.00</span> <br/>
			    	<span class="order-label">Status</span>: <span class="order-data order-status delivered-status"> delivered </span> <br/>
			    </div>
			</ons-card>
		</div>

		<div ng-if="pagedata.order_tab == 'all'">

				<ons-card>
				<div class="title">
			      Order ID: 5169
			    </div>
			    <div class="content">
			    	<span class="order-label">Customer</span>: <span class="order-data">Ena Fleurence</span> <br/>
			    	<span class="order-label">Rice Variety</span>:  <span class="order-data">Jasmine Rice</span> <br/>
			    	<span class="order-label">No. of sacks</span>: <span class="order-data">2</span> <br/>
			    	<span class="order-label">Price per sack</span>: <span class="order-data">&#8369;1500.00</span> <br/>
			    	<span class="order-label">Total Payment</span>: <span class="order-data">&#8369;3000.00</span> <br/>
			    	<span class="order-label">Status</span>: <span class="order-data order-status pending-status">  To be delivered </span> <br/>
			    </div>
			</ons-card>
			<ons-card>
				<div class="title">
			      Order ID: 5005
			    </div>
			    <div class="content">
			    	<span class="order-label">Customer</span>: <span class="order-data">Agustin Bustamante</span> <br/>
			    	<span class="order-label">Rice Variety</span>:  <span class="order-data">Black Rice</span> <br/>
			    	<span class="order-label">No. of sacks</span>: <span class="order-data">3</span> <br/>
			    	<span class="order-label">Price per sack</span>: <span class="order-data">&#8369;2000.00</span> <br/>
			    	<span class="order-label">Total Payment</span>: <span class="order-data">&#8369;6000.00</span> <br/>
			    	<span class="order-label">Status</span>: <span class="order-data order-status delivered-status"> delivered </span> <br/>
			    </div>
			</ons-card>
			<ons-card>
				<div class="title">
			      Order ID: 8441
			    </div>
			    <div class="content">
			    	<span class="order-label">Customer</span>: <span class="order-data">Angelo Fajardo</span> <br/>
			    	<span class="order-label">Rice Variety</span>:  <span class="order-data">Sinandomeng Rice</span> <br/>
			    	<span class="order-label">No. of sacks</span>: <span class="order-data">1</span> <br/>
			    	<span class="order-label">Price per sack</span>: <span class="order-data">&#8369;1000.00</span> <br/>
			    	<span class="order-label">Total Payment</span>: <span class="order-data">&#8369;1000.00</span> <br/>
			    	<span class="order-label">Status</span>: <span class="order-data order-status pending-status">  To be delivered </span> <br/>
			    </div>
			</ons-card>
			<ons-card>
				<div class="title">
			      Order ID: 8111
			    </div>
			    <div class="content">
			    	<span class="order-label">Customer</span>: <span class="order-data">Donn Vill</span> <br/>
			    	<span class="order-label">Rice Variety</span>:  <span class="order-data">Brown Rice</span> <br/>
			    	<span class="order-label">No. of sacks</span>: <span class="order-data">4</span> <br/>
			    	<span class="order-label">Price per sack</span>: <span class="order-data">&#8369;2000.00</span> <br/>
			    	<span class="order-label">Total Payment</span>: <span class="order-data">&#8369;8000.00</span> <br/>
			    	<span class="order-label">Status</span>: <span class="order-data order-status pending-status">  To be delivered </span> <br/>
			    </div>
			</ons-card>
			<ons-card>
				<div class="title">
			      Order ID: 8981
			    </div>
			    <div class="content">
			    	<span class="order-label">Customer</span>: <span class="order-data">Brennan Terrer</span> <br/>
			    	<span class="order-label">Rice Variety</span>:  <span class="order-data">Black Rice</span> <br/>
			    	<span class="order-label">No. of sacks</span>: <span class="order-data">1</span> <br/>
			    	<span class="order-label">Price per sack</span>: <span class="order-data">&#8369;2000.00</span> <br/>
			    	<span class="order-label">Total Payment</span>: <span class="order-data">&#8369;2000.00</span> <br/>
			    	<span class="order-label">Status</span>: <span class="order-data order-status pending-status">  To be delivered </span> <br/>
			    </div>
			</ons-card>

			
			<ons-card>
				<div class="title">
			      Order ID: 5169
			    </div>
			    <div class="content">
			    	<span class="order-label">Customer</span>: <span class="order-data">Rich Chelle Bustamante</span> <br/>
			    	<span class="order-label">Rice Variety</span>:  <span class="order-data">Black Rice</span> <br/>
			    	<span class="order-label">No. of sacks</span>: <span class="order-data">3</span> <br/>
			    	<span class="order-label">Price per sack</span>: <span class="order-data">&#8369;2000.00</span> <br/>
			    	<span class="order-label">Total Payment</span>: <span class="order-data">&#8369;6000.00</span> <br/>
			    	<span class="order-label">Status</span>: <span class="order-data order-status delivered-status"> delivered </span> <br/>
			    </div>
			</ons-card>
		</div>
	</ons-page>
</ons-template>

<ons-template id="retailing_order_requests.html">
	<ons-page>
		<ons-toolbar>
			<div class="left">
				<ons-toolbar-button onclick="fn.popPage()">
					<ons-icon icon="ion-chevron-left" size=""></ons-icon>
				</ons-toolbar-button>
			</div>
			<div class="center">
				Order Requests
				<!-- <img style="height:30px;margin-top: 8px;" src="img/logo4-white.png"> -->
			</div>
			<div class="right">
				
			</div>
		</ons-toolbar>
		<!-- <ons-row style="padding-top: 10px;">
			<ons-col width="60%">&nbsp;</ons-col>
			<ons-col>
				<ons-button ng-click="create_order_requests()">Create Order</ons-button>
			</ons-col>			
		</ons-row> -->
		<ons-card ng-click="" ng-repeat="consumer in consumers">
			<ons-row>
				<ons-col width="60%">
					<div class="title card-label" >
				      <span style="font-size: 18px;">{{consumer.name}}</span>
				    </div>
				</ons-col>
				<ons-col>
					 <div class="text-center content card-details">
				    	Variety: <span style="font-size: 16px">{{consumer.order.variety}}</span>
				    </div>
					<div class="text-center title card-title" style="font-size: 24px;">
				     {{consumer.order.no_sacks}} sacks
				    </div>
				</ons-col>
			</ons-row>
		</ons-card>
</ons-template>
<ons-template id="create_order_requests.html">
	<ons-page>
		<ons-toolbar>
			<div class="left">
				<ons-toolbar-button onclick="fn.popPage()">
					<ons-icon icon="ion-chevron-left" size=""></ons-icon>
				</ons-toolbar-button>
			</div>
			<div class="center">
				Create Order 
				<!-- <img style="height:30px;margin-top: 8px;" src="img/logo4-white.png"> -->
			</div>
			<div class="right">
				
			</div>
		</ons-toolbar>
	
		<ons-card ng-click="" ng-repeat="consumer in consumers">
			<ons-row>
				<ons-col width="60%">
					<div class="title card-label" >
				      <span style="font-size: 18px;">{{consumer.name}}</span>
				    </div>
				</ons-col>
				<ons-col>
					 <div class="text-center content card-details">
				    	Variety: <span style="font-size: 16px">{{consumer.order.variety}}</span>
				    </div>
					<div class="text-center title card-title" style="font-size: 24px;">
				     {{consumer.order.no_sacks}} sacks
				    </div>
				</ons-col>
			</ons-row>
		</ons-card>
</ons-template>

<ons-template id="dropoff_coops.html">
	<ons-page>		
		<ons-toolbar>
			<div class="left">
				<ons-toolbar-button onclick="fn.openMenu()">
					<ons-icon icon="ion-navicon" size=""></ons-icon>
				</ons-toolbar-button>
			</div>
			<div class="center">
				Coops
				<!-- <img style="height:30px;margin-top: 8px;" src="img/logo4-white.png"> -->
			</div>
		</ons-toolbar>
		<div style="height: 180px; padding: 1px 0 0 0;" id="map">
			<img style="height: 100%;width:100%;
			  opacity: 0.9;
			  margin: auto;
			 " src="img/sample-map.jpg">
		</div>
		<div>
			<div style="height: auto; padding: 1px 0 0 0;">
			  <div class="card" ng-repeat="coop in coops">
			    <div class="card__content">
			    	<ons-row>		    	
		                <ons-col width="100%" style="font-size: 22px;">
		                	{{coop.name}}
		                </ons-col>
		                <ons-col style="font-size: 16px;color: #8e8e8e;">
		  			    	{{coop.distance}}
		                </ons-col>			    		
			    		<ons-col width="150px" class="text-right" style="font-size: 18px;">
			    			PHP <span style="font-weight: bold;font-size: 40px;color: #244507;">{{coop.price_range}}</span>/kg
			    		</ons-col>
			    	</ons-row>
			    </div>
			  </div>
			</div>
		</div>
	</ons-page>
</ons-template>
	<script type="text/javascript">
	// var module = ons.bootstrap('my-app', ['onsen']);
	module.controller('AppController', function($scope, $http, $timeout, $interval, $filter) {

		// $scope.myNavigator = document.querySelector('#myNavigator');

		$scope.pagedata = {};
		$scope.test = 123;

		$scope.login = function(){

      save_user(1);

      $("#myMenu").attr('swipeable', 'true');
      default_page = get_default_page();
      if (default_page=='consumer'){
        $scope.consumers_view();
      }else if (default_page=='coop'){
        $scope.coop_page();
      }else{
        $scope.dropoff_home_page();
      }
    }

		$scope.logout = function(){
      var user = {id:0};
      save_user(0);

			$("#myMenu").removeAttr('swipeable');
			fn.resetToPage('login.html')
		}

    $scope.dropoff_home_page = function (argument) {
      default_page = 'dropoff';
      save_default_page(default_page);
      fn.resetToPage('dropoffHomePage.html');
    }

		$scope.wallpost_text_focus = function(){
			$(".wall-item").css('opacity', '0.3');
			$(".page__background").css('background', '#777');

			// $(".wallpost").css('opacity', '0.3');
			// wallpost-form
			// $("#wallposting-overlay").show();
			// $(".page__content").addClass('red');
		}
		$scope.wallpost_text_blur = function(){
			$(".wall-item").css('opacity', '1');
			$(".page__background").css('background', '#f9f9f9');
		}

		$scope.profile_page = function(){
			$scope.pagedata.wallpost_text = '';
		}

		$scope.scholar_home_page = function(){
			if ($scope.pagedata.segment == null){
				$scope.pagedata.segment = 'wall';
			}
		}

		$scope.test_page = function (argument) {
			fn.pushPage('test.html')
		}
		

		$scope.set_server_url = function(){
			ons.notification.prompt({
				message: 'Server URL',
				defaultValue: url_root,
				cancelable: true,
				callback: function(new_url_root) {
					url_root = new_url_root;
					save_server_url(new_url_root);
					ons.notification.alert({
						message: 'New Server URL ' + url_root
					});
				}
			});

		}

		//start anjo
		$scope.stores = [
			{
				name: 'Ena Store',
				distance: '1.3km',
				price_range: '38'
			},
			{
				name: 'Brennan Store',
				distance: '1.7km',
				price_range: '40'
			},
			{
				name: 'Donn Store',
				distance: '2.0km',
				price_range: '45'
			}
		]

		$scope.consumers_view = function (argument) {
			default_page = 'consumer';
			save_default_page(default_page);
			$("#myMenu").attr('swipeable', 'true');
			fn.resetToPage('consumerPage.html');
			// fn.pushPage('consumer.html')
		}

		$scope.coop_inventory_page = function (argument) {
			coopTabbar.setActiveTab(3);
		}

		$scope.pagedata.coop_farmers = [
			{"name":"John Reyes", "annual_production":100, "loan": 10000},
			{"name":"John Doe", "annual_production":80, "loan": 0},
			{"name":"Peter Gonnzales", "annual_production":120, "loan": 30000},
			{"name":"Bert Torre", "annual_production":60, "loan": 0},
			{"name":"Juan Cruz", "annual_production":200, "loan": 50000}
		];

		$scope.coop_farmers_page = function (argument) {
			coopTabbar.setActiveTab(4);
		}

		$scope.pagedata.coop_investors = [
			{"name":"Leo Joe", "amount": 10000},
			{"name":"Yana Chu", "amount": 20000},
		];

		$scope.coop_inventors_page = function(){
			fn.pushPage("coop_investors.html");
		}



    // start jun
    $scope.pagedata.dropoff_orders = [
      {
        id:"1432",
        dropoff_point: "Passi Coop",
        total_sacks: 200,
        total_price: '360,000',
        order_data:[
          {
            "unit_price" : 1500, 
            "no_of_sacks": 20,
            "rice_variety":"brown_rice"
          },
          {
            "unit_price" : 1500, 
            "no_of_sacks": 30,
            "rice_variety":"black_rice"
          }
        ],
        status: "pending"
      },
      {

        id:"5697",
        dropoff_point: "Miag-ao Coop",
        total_sacks: 150,
        total_price: '280,000',
        order_data:[
          {
            "unit_price" : 1500, 
            "no_of_sacks": 20,
            "rice_variety":"brown_rice"
          },
          {
            "unit_price" : 1500, 
            "no_of_sacks": 30,
            "rice_variety":"black_rice"
          }
        ],
        status: "pending"
      },
      {
        id:"5512",
        dropoff_point: "Tigbauan Coop",
        total_sacks: 165,
        total_price: '299,000',
        order_data:[
          {
            "unit_price" : 1500, 
            "no_of_sacks": 20,
            "rice_variety":"brown_rice"
          },
          {
            "unit_price" : 1500, 
            "no_of_sacks": 30,
            "rice_variety":"black_rice"
          }
        ],
        status: "pending"
      }
    ];

		//start ena
		$scope.pagedata.coop_orders = [
			{
				id:"1432",
				dropoff_point: "Ena's Store",
				total_sacks: 50,
				total_price: 50000,
				order_data:[
					{
						"unit_price" : 1500, 
						"no_of_sacks": 20,
						"rice_variety":"Brown Rice"
					},
					{
						"unit_price" : 1500, 
						"no_of_sacks": 30,
						"rice_variety":"Black Rice"
					}
				],
				status: "pending"
			},
			{

				id:"5697",
				dropoff_point: "Anjo's Store",
				total_sacks: 50,
				total_price: 50000,
				order_data:[
					{
						"unit_price" : 1500, 
						"no_of_sacks": 20,
						"rice_variety":"Brown Rice"
					},
					{
						"unit_price" : 1500, 
						"no_of_sacks": 30,
						"rice_variety":"Black Rice"
					}
				],
				status: "pending"
			},
			{
				id:"5512",
				dropoff_point: "Donn's Store",
				total_sacks: 50,
				total_price: 50000,
				order_data:[
					{
						"unit_price" : 1500, 
						"no_of_sacks": 20,
						"rice_variety":"Brown Rice"
					},
					{
						"unit_price" : 1500, 
						"no_of_sacks": 30,
						"rice_variety":"Black Rice"
					}
				],
				status: "delivered"
			}
		];
		$scope.coop_orders_page = function(){
			$scope.pagedata.order_tab = 'pending';
			coopTabbar.setActiveTab(1);
		}

		$scope.view_coop_order = function(order){
			$scope.pagedata.coop_order = order;
			fn.pushPage("view_coop_order.html");
		}

		$scope.coop_loans_page = function(){
			coopTabbar.setActiveTab(0);
		}

		$scope.set_order_tab = function(order_status){
			$scope.pagedata.order_tab = order_status;
		}
	
		$scope.consumer_notifs = function(){
			// fn.resetToPage('consumer_notifs.html')
		}

		$scope.consumer_coops = function(){
			// fn.resetToPage('consumer_coops.html')
		}

		$scope.consumer_loans = function(){
			// fn.resetToPage('consumer_loans.html')
		}

		$scope.consumer_order_here = function(){
			// consumerTabbar.setActiveTab(1);
			fn.pushPage('consumer_order_here.html');
		}

		$scope.consumer_orders = function(argument){
			$scope.pagedata.order_tab = 'pending';
			consumerTabbar.setActiveTab(0);
		}

		$scope.submit_order = function(){
			fn.popPage()
			$scope.pagedata.order_tab = 'pending';
			consumerTabbar.setActiveTab(0);
		}

		$scope.coops = [
			{
				name: 'Oton Cooperative',
				distance: '5.7km',
				price_range: '40',
				needed_funds: 12000,
				production_per_year: 50000
			},
			{
				name: 'Tigbauan Cooperative',
				distance: '12.00km',
				price_range: '38',
				needed_funds: 10000,
				production_per_year: 80000
			},
			{
				name: 'Guimbal Cooperative',
				distance: '20.00km',
				price_range: '40',
				needed_funds: 15000,
				production_per_year: 55000
			},
			{
				name: 'Miagao Cooperative',
				distance: '40.0km',
				price_range: '44',
				needed_funds: 20000,
				production_per_year: 90000

			},			
			{
				name: 'Passi Cooperative',
				distance: '60.0km',
				price_range: '48',
				needed_funds: 10000,
				production_per_year: 100000
			}
		]

		$scope.consumers = [
			{	
				'name':'Donn Villanueva',
				'order':{
					'variety':'Sinandomeng',
					'no_sacks':5
				}
			},
			{	
				'name':'Ena Cahilig',
				'order':{
					'variety':'Sinandomeng',
					'no_sacks': 5
				}
			},
			{	
				'name':'Brennan Terre',
				'order':{
					'variety':'RC-10',
					'no_sacks': 5
				}
			},{	
				'name':'Agustin Bustamante',
				'order':{
					'variety':'RC-10',
					'no_sacks': 5
				}
			},{	
				'name':'Angelo Fajardo',
				'order':{
					'variety':'RC-10',
					'no_sacks': 5
				}
			},{	
				'name':'Juan Dela Cruz ',
				'order':{
					'variety':'RC-10',
					'no_sacks': 10
				}
			},{	
				'name':'Cardo Dalisay',
				'order':{
					'variety':'RC-10',
					'no_sacks': 10
				}
			},
			{	
				'name':'Brando Dalisay',
				'order':{
					'variety':'RC-10',
					'no_sacks': 10
				}
			},
			{	
				'name':'Branda Dalisay',
				'order':{
					'variety':'Sinandomeng',
					'no_sacks': 10
				}
			},

		];
		$scope.consumer_loans_page = function (argument) {
			consumerTabbar.setActiveTab(1);
		}
		//end ANDJO
		$scope.coop_page = function (argument) {
	      	default_page = 'coop';
	      	save_default_page(default_page);
			fn.resetToPage('coopPage.html');
		}
		
		$scope.invest_amount = function(){
			ons.notification.prompt({
		      message: 'How much amount do you want to invest?',
		      callback: val => {
		      	var isAnumber = isNaN(val);
		        if (isAnumber == false && val!='') {
		          ons.notification.alert({message: 'You have invested an amount of PHP '+parseFloat(val)+'.'});
		        } else {
		          ons.notification.alert({message: 'Incorrect Input! Please input a number!'});
		        }
		      }
		    });
		}

		$scope.retailing_order_requests = function(){
			fn.pushPage('retailing_order_requests.html')
		}

		$scope.pagedata = {}
		$scope.create_order_requests = function(){
			$scope.pagedata.create_order_requests = [];
			angular.forEach($scope.consumers,function(key,value){
				console.log(key)
			})
			fn.pushPage('create_order_requests.html');
		}
		// auto load page for testing purposes
		setTimeout(function(){
			// $("#myMenu").attr('swipeable', 'true');
			// fn.resetToPage('ScholarhomePage.html');
		}, 1000)

	}); // AppController


		var showPopover = function(target) {
			document
				.getElementById('more-options').show(target);
		};

		var hidePopover = function() {
			document
				.getElementById('more-options')
				.hide();
		};


		function save_server_url(server_url){
			localStorage.setItem("server_url", server_url);
		}
		function get_server_url(){
			var server_url = localStorage.getItem("server_url");
			if (typeof server_url == "undefined" || server_url==null) {
				server_url = "http://192.168.1.145:3000";
			}
			return server_url;
		}

    function save_default_page(default_page){
      localStorage.setItem("default_page", default_page);
    }
    function get_default_page(){
      var default_page = localStorage.getItem("default_page");
      if (typeof default_page == "undefined" || default_page==null) {
        default_page = "consumer";
      }
      return default_page;
    }

    function save_user(user){
      localStorage.setItem("user", user);
    }
    function get_user(){
      var user = localStorage.getItem("user");
      if (typeof user == "undefined" || user==null) {
        user = 0;
      }
      return user;
    }


		ons.ready(function(){
			url_root = get_server_url();

			var appElement = document.getElementById('app-body');
			var $scope = angular.element(appElement).scope();

      window.fn = {nav: 'myNavigator'};

			window.fn.openMenu = function() {
				var menu = document.getElementById('myMenu');
				menu.open();
			};

			window.fn.resetToPage = function(page, data) {
				// if (data.new_nav!=null){
				// 	window.fn.nav = data.new_nav;
				// }
				// console.log(window.fn.nav);
				var content = document.getElementById('myNavigator');
				var menu = document.getElementById('myMenu');
				menu.close()
				content.resetToPage(page, data)
					.then(menu.close.bind(menu));
			};

			window.fn.pushPage = function(page, data) {
				var content = document.getElementById('myNavigator');
				var menu = document.getElementById('myMenu');
				menu.close()
				content.pushPage(page, data)
					.then(menu.close.bind(menu));
			};

			window.fn.popPage = function() {
				var content = document.getElementById('myNavigator');
				content.popPage();
			};

			document.addEventListener('init', function(event) {

			});


			// $.getScript("https://maps.googleapis.com/maps/api/js?&key=AIzaSyBwOa5R288BhucCBkb5i7HC2cN-2Ijlnc0&libraries=places&libraries=places");


      setTimeout(function(){
        var user = get_user();
        if (user!=0){
          $scope.login();
        }
      },500);

		}); // ons.ready
		// console.log(ons.preload)

		// ons.preload('scholar_home.html');
		// ons.preload('profile.html');
		// ons.preload('notifications.html');
		// ons.preload('transactions.html');
		// ons.preload('my_donors.html');
		// ons.preload(['scholar_home.html', 'profile.html', 'notifications.html', 'transactions.html', 'my_donors.html']);

	</script>

</body>
</html>
